In [1]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

In [2]:
simple_train = ['call you tonight', 'Call me a cab', 'please call me... PLEASE!']

In [3]:
simple_train

['call you tonight', 'Call me a cab', 'please call me... PLEASE!']

In [59]:
vect = CountVectorizer(ngram_range=(1, 2),binary=True)
text_counts= vect.fit_transform(simple_train)
vect.get_feature_names()

['cab',
 'call',
 'call me',
 'call you',
 'me',
 'me cab',
 'me please',
 'please',
 'please call',
 'tonight',
 'you',
 'you tonight']

In [60]:
vect

CountVectorizer(analyzer='word', binary=True, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 2), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [61]:
print(text_counts)

  (0, 11)	1
  (0, 3)	1
  (0, 9)	1
  (0, 10)	1
  (0, 1)	1
  (1, 5)	1
  (1, 2)	1
  (1, 0)	1
  (1, 4)	1
  (1, 1)	1
  (2, 6)	1
  (2, 8)	1
  (2, 7)	1
  (2, 2)	1
  (2, 4)	1
  (2, 1)	1

In [62]:
text_counts.shape

(3, 12)

In [63]:
text_counts.toarray()

array([[0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1],
       [1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0],
       [0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0]], dtype=int64)

In [64]:
pd.DataFrame(text_counts.toarray(), columns = vect.get_feature_names())

,cab,call,call me,call you,me,me cab,me please,please,please call,tonight,you,you tonight
0,0,1,0,1,0,0,0,0,0,1,1,1
1,1,1,1,0,1,1,0,0,0,0,0,0
2,0,1,1,0,1,0,1,1,1,0,0,0

In [69]:
# transform testing data into a document-term matrix (using existing vocabulary)
simple_test = ["please don't call cab"]
simple_test_dtm = vect.transform(simple_test)
simple_test_dtm.toarray()

array([[1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]], dtype=int64)

In [70]:
pd.DataFrame(simple_test_dtm.toarray(), columns = vect.get_feature_names())

,cab,call,call me,call you,me,me cab,me please,please,please call,tonight,you,you tonight
0,1,1,0,0,0,0,0,1,0,0,0,0